html,
body {
  height: 5796px;
  box-sizing: border-box;
  font-family: 'trench', sans-serif;
}
@media only screen and (min-width: 1050px) {
  html,
  body {
    height: 5796px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1050px) {
  html,
  body {
    height: 5796px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  html,
  body {
    height: 5256px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
  html,
  body {
    height: 4021px;
  }
}
@media only screen and (max-width: 400px) {
  html,
  body {
    height: 3625px;
  }
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
.btn {
  padding: 10px 10px;
  display: inline-block;
  font-size: 1.5em;
  vertical-align: middle;
}
.btn-action {
  padding: 18px;
  width: 20%;
  background-color: lightRed;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  transition: color 0.5s linear, background-color 0.5s ease-in-out;
}
.btn-action:hover {
  background-color: darkRed;
  transition: color 0.5s linear, background-color 0.5s ease-in-out;
}
.success {
  background-color: lightBlue !important;
  transition: color 0.5s linear, background-color 0.5s ease-in-out;
}
.dna-logo {
  display: inline-block;
  width: 175px;
}
@media only screen and (min-width: 1050px) {
  .dna-logo {
    width: 175px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1050px) {
  .dna-logo {
    width: 175px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .dna-logo {
    width: 150px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
  .dna-logo {
    width: 125px;
  }
}
@media only screen and (max-width: 400px) {
  .dna-logo {
    width: 100px;
  }
}
.mobile-menu-icon {
  display: none !important;
  font-size: 0em !important;
  position: absolute;
  top: 30px;
  right: 20px;
  color: #fff;
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .mobile-menu-icon {
    display: block !important;
    font-size: 1.5em !important;
  }
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
  .mobile-menu-icon {
    display: block !important;
    font-size: 1.5em !important;
  }
}
@media only screen and (max-width: 400px) {
  .mobile-menu-icon {
    display: block !important;
    font-size: 1.5em !important;
  }
}
#corporate-main-nav {
  padding: 20px 0;
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
  #corporate-main-nav {
    padding: 10px 0;
  }
}
@media only screen and (max-width: 400px) {
  #corporate-main-nav {
    padding: 10px 0;
  }
}
#corporate-main-nav .nav-logo {
  display: inline-block;
  height: auto;
  width: 180px;
}
.navbar-fixed-top {
  position: absolute;
  right: 5%;
  left: 5%;
  z-index: 99;
}
#navbar-collapse {
  display: inline-block;
  height: 138px;
  margin-top: 25px;
  vertical-align: middle;
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  #navbar-collapse {
    display: none;
  }
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
  #navbar-collapse {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  #navbar-collapse {
    display: none;
  }
}
.nav {
  padding-left: 0;
  margin: 0;
  list-style: none;
  font-family: 'trench', sans-serif;
  font-weight: bold;
}
.nav.navbar-nav li {
  float: left;
}
.nav.navbar-nav a {
  padding: 10px 20px;
  font-size: 1.7em;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
input {
  line-height: 40px;
  padding: 0 0 0 15px;
  background-color: lightGrey;
  -webkit-appearance: none;
  box-shadow: none !important;
  outline: 0;
  border: none;
  border-radius: 3px;
  color: darkGrey;
}
input:focus {
  outline: 0;
}
::-webkit-input-placeholder {
  color: medGrey;
}
:-moz-placeholder {
  color: medGrey;
}
::-moz-placeholder {
  color: medGrey;
}
:-ms-input-placeholder {
  color: medGrey;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.center {
  margin: 0 auto !important;
}
