#menu {
  position: fixed;
  height: 100%;
  background-color: #4b0082;
}
@media only screen and (max-width: 414px) {
  #menu {
    top: 0;
    left: 0;
    height: 56px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
  }
}
@media only screen and (max-width: 414px) {
  .card-container {
    margin-top: 56px;
  }
}
.center-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}
.card {
  height: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: cardBackground;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
  border-radius: 2px;
}
.card .image-container .image {
  width: 100%;
  height: auto;
}
.card .info-container,
.card .action-container {
  padding: 10px;
}
.card .info-container .title,
.card .info-container .hashtag-container,
.card .info-container .hashtag {
  display: inline-block;
  vertical-align: middle;
}
.card .info-container .title {
  margin-right: 10px;
  font-weight: 400;
}
.card .info-container .hashtag-container {
  font-size: 0.75em;
}
.card .info-container .hashtag-container .hashtag {
  margin-right: 5px;
  color: medGrey;
}
.card .action-container {
  border-top: 1px solid lightGrey;
}
.card .action-container .action-wrapper {
  float: left;
}
.card .action-container .action-wrapper .action {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.card .action-container .like-container {
  float: right;
}
.card .action-container .like-container .number,
.card .action-container .like-container .heart {
  display: inline-block;
  vertical-align: middle;
}
.card .action-container .like-container .heart {
  font-size: 1.5em;
}
.card .action-container .like-container .number {
  margin-left: 3px;
}
