#landing-page {
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  background: url("../img/background/background-2560.jpg") no-repeat center center;
  overflow: hidden;
}
@media only screen and (min-width: 1050px) {
  #landing-page {
    background: url("../img/background/background-2560.jpg") no-repeat center center;
    height: 5796px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1050px) {
  #landing-page {
    background: url("../img/background/background-1024.jpg") no-repeat center center;
    height: 5796px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  #landing-page {
    background: url("../img/background/background-750.jpg") no-repeat center center;
    height: 5256px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
  #landing-page {
    background: url("../img/background/background-480.jpg") no-repeat center center;
    height: 4403px;
  }
}
@media only screen and (max-width: 400px) {
  #landing-page {
    background: url("../img/background/background-320.jpg") no-repeat center center;
    height: 3942px;
  }
}
#landing-page .container {
  width: 90%;
  margin: 0 auto;
}
#landing-page .section-1,
#landing-page .section-2,
#landing-page .section-3,
#landing-page .section-4,
#landing-page .section-5,
#landing-page .section-6 {
  position: relative;
  display: block;
  width: 100%;
}
#landing-page .section-1 {
  height: 1500px;
}
@media only screen and (min-width: 1050px) {
  #landing-page .section-1 {
    height: 1500px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1050px) {
  #landing-page .section-1 {
    height: 1500px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  #landing-page .section-1 {
    height: 910px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
  #landing-page .section-1 {
    height: 700px;
  }
}
@media only screen and (max-width: 400px) {
  #landing-page .section-1 {
    height: 650px;
  }
}
#landing-page .section-2 {
  height: 810px;
}
@media only screen and (min-width: 1050px) {
  #landing-page .section-2 {
    height: 810px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1050px) {
  #landing-page .section-2 {
    height: 810px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  #landing-page .section-2 {
    height: 1200px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
  #landing-page .section-2 {
    height: 800px;
  }
}
@media only screen and (max-width: 400px) {
  #landing-page .section-2 {
    height: 650px;
  }
}
#landing-page .section-2 .gutter {
  margin-left: 40px;
}
#landing-page .section-3 {
  height: 780px;
}
@media only screen and (min-width: 1050px) {
  #landing-page .section-3 {
    height: 780px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1050px) {
  #landing-page .section-3 {
    height: 780px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  #landing-page .section-3 {
    height: 1080px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
  #landing-page .section-3 {
    height: 800px;
  }
}
@media only screen and (max-width: 400px) {
  #landing-page .section-3 {
    height: 620px;
  }
}
#landing-page .section-4 {
  height: 1440px;
}
@media only screen and (min-width: 1050px) {
  #landing-page .section-4 {
    height: 1440px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1050px) {
  #landing-page .section-4 {
    height: 1450px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  #landing-page .section-4 {
    height: 940px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
  #landing-page .section-4 {
    height: 910px;
  }
}
@media only screen and (max-width: 400px) {
  #landing-page .section-4 {
    height: 870px;
  }
}
#landing-page .section-5 {
  height: 950px;
}
@media only screen and (min-width: 1050px) {
  #landing-page .section-5 {
    height: 950px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1050px) {
  #landing-page .section-5 {
    height: 950px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  #landing-page .section-5 {
    height: 700px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
  #landing-page .section-5 {
    height: 780px;
  }
}
@media only screen and (max-width: 400px) {
  #landing-page .section-5 {
    height: 860px;
  }
}
#landing-page .section-6 {
  position: relative;
  height: auto;
}
#landing-page .play-container {
  position: absolute;
  top: 530px;
  height: auto;
  width: 100%;
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  #landing-page .play-container {
    top: 315px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
  #landing-page .play-container {
    top: 250px;
  }
}
@media only screen and (max-width: 400px) {
  #landing-page .play-container {
    top: 275px;
  }
}
#landing-page .play-trailer-button {
  width: 135px;
  height: 140px;
  margin: 0 auto;
  background: url("../img/common/play-button/play-button-big.png") no-repeat center center;
  cursor: pointer;
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
  #landing-page .play-trailer-button {
    width: 91px;
    height: 91px;
    background: url("../img/common/play-button/play-button-medium.png") no-repeat center center;
  }
}
@media only screen and (max-width: 400px) {
  #landing-page .play-trailer-button {
    width: 67px;
    height: 72px;
    background: url("../img/common/play-button/play-button-small.png") no-repeat center center;
  }
}
#landing-page .island-text-container,
#landing-page .zeppelin-text-container,
#landing-page .stinger-text-container,
#landing-page .tower-text-container,
#landing-page .browser-text-container {
  position: absolute;
  height: auto;
  width: 100%;
}
#landing-page .island-text-container {
  top: 680px;
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  #landing-page .island-text-container {
    top: 480px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
  #landing-page .island-text-container {
    top: 360px;
  }
}
@media only screen and (max-width: 400px) {
  #landing-page .island-text-container {
    top: 380px;
  }
}
#landing-page .zeppelin-text-container {
  top: 400px;
  width: 50%;
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  #landing-page .zeppelin-text-container {
    width: 100%;
    top: 220px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
  #landing-page .zeppelin-text-container {
    width: 100%;
    top: 30px;
  }
}
@media only screen and (max-width: 400px) {
  #landing-page .zeppelin-text-container {
    width: 100%;
    top: 30px;
  }
}
#landing-page .stinger-text-container {
  top: 450px;
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  #landing-page .stinger-text-container {
    top: 50px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
  #landing-page .stinger-text-container {
    top: 45px;
  }
}
@media only screen and (max-width: 400px) {
  #landing-page .stinger-text-container {
    top: 45px;
  }
}
#landing-page .tower-text-container {
  top: 400px;
  width: 50%;
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  #landing-page .tower-text-container {
    width: 100%;
    top: 0px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
  #landing-page .tower-text-container {
    width: 100%;
    top: 25px;
  }
}
@media only screen and (max-width: 400px) {
  #landing-page .tower-text-container {
    width: 100%;
    top: 25px;
  }
}
#landing-page .browser-text-container {
  top: 0;
}
#landing-page .dl-button-container {
  display: inline-block;
  height: auto;
  width: 100%;
}
#landing-page .dl-button-wrapper {
  margin: 0;
  width: 400px;
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  #landing-page .dl-button-wrapper {
    margin: 0 auto;
    width: 350px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
  #landing-page .dl-button-wrapper {
    margin: 0 auto;
    width: 325px;
  }
}
@media only screen and (max-width: 400px) {
  #landing-page .dl-button-wrapper {
    margin: 0 auto;
    width: 300px;
  }
}
#landing-page .text-wrapper {
  margin: 0;
  width: 460px;
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  #landing-page .text-wrapper {
    margin: 0 auto;
    width: 100%;
  }
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
  #landing-page .text-wrapper {
    margin: 0 auto;
    width: 100%;
  }
}
@media only screen and (max-width: 400px) {
  #landing-page .text-wrapper {
    margin: 0 auto;
    width: 100%;
  }
}
#landing-page .stinger-text-container .text-wrapper,
#landing-page .stinger-text-container .dl-button-wrapper {
  float: right;
  margin: 0;
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  #landing-page .stinger-text-container .text-wrapper,
  #landing-page .stinger-text-container .dl-button-wrapper {
    float: none;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
  #landing-page .stinger-text-container .text-wrapper,
  #landing-page .stinger-text-container .dl-button-wrapper {
    float: none;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 400px) {
  #landing-page .stinger-text-container .text-wrapper,
  #landing-page .stinger-text-container .dl-button-wrapper {
    float: none;
    margin: 0 auto;
  }
}
#landing-page .stinger-text-container .stinger-text {
  margin-right: -60px;
}
@media only screen and (max-width: 750px) {
  #landing-page .stinger-text-container .stinger-text {
    margin: 0 auto;
  }
}
#landing-page .app-store,
#landing-page .google-play {
  width: 48%;
}
#landing-page .app-store {
  margin-right: 10px;
}
#landing-page .island-title,
#landing-page .section-title,
#landing-page .browser-title {
  font-family: 'trench', sans-serif;
  margin-bottom: 30px;
  text-transform: uppercase;
}
#landing-page .island-title {
  font-size: 3em;
  text-align: center;
  color: #fae5ab;
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  #landing-page .island-title {
    display: none;
  }
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
  #landing-page .island-title {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  #landing-page .island-title {
    display: none;
  }
}
#landing-page .section-title {
  font-size: 2.5em;
  color: #fff;
  text-align: left;
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  #landing-page .section-title {
    font-size: 2.5em;
    text-align: center;
  }
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
  #landing-page .section-title {
    font-size: 1.85em;
    text-align: center;
  }
}
@media only screen and (max-width: 400px) {
  #landing-page .section-title {
    font-size: 1.5em;
    text-align: center;
  }
}
#landing-page .browser-title {
  font-size: 2.5em;
  text-align: center;
  color: #fae5ab;
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  #landing-page .browser-title {
    font-size: 2.5em;
  }
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
  #landing-page .browser-title {
    font-size: 1.7em;
  }
}
@media only screen and (max-width: 400px) {
  #landing-page .browser-title {
    font-size: 1.4em;
  }
}
#landing-page .char-browser {
  position: relative;
  width: 718px;
  height: 448px;
  margin: 0 auto;
  margin-top: -80px;
  background: url("../img/browser/char-browser-750.png") no-repeat center center;
}
@media only screen and (max-width: 768px) {
  #landing-page .char-browser {
    margin-left: -40px;
    background: url("../img/browser/char-browser-750.png") no-repeat center center;
  }
}
@media only screen and (max-width: 667px) {
  #landing-page .char-browser {
    margin-left: -80px;
    background: url("../img/browser/char-browser-750.png") no-repeat center center;
  }
}
@media only screen and (max-width: 568px) {
  #landing-page .char-browser {
    width: 480px;
    height: 448px;
    margin-left: 0px;
    background: url("../img/browser/char-browser-480.png") no-repeat center center;
  }
}
@media only screen and (max-width: 480px) {
  #landing-page .char-browser {
    width: 480px;
    height: 448px;
    margin-left: -20px;
    background: url("../img/browser/char-browser-480.png") no-repeat center center;
  }
}
@media only screen and (max-width: 414px) {
  #landing-page .char-browser {
    width: 320px;
    height: 569px;
    margin-left: 15px;
    background: url("../img/browser/char-browser-320.png") no-repeat center center;
  }
}
@media only screen and (max-width: 320px) {
  #landing-page .char-browser {
    width: 320px;
    height: 569px;
    margin-left: -25px;
    background: url("../img/browser/char-browser-320.png") no-repeat center center;
  }
}
#landing-page .char-browser .char-icon {
  position: absolute;
  top: 110px;
  left: 100px;
  width: 170px;
  height: 170px;
  border-radius: 5px;
  border: 1px solid #fff;
}
@media only screen and (max-width: 568px) {
  #landing-page .char-browser .char-icon {
    top: 124px;
    left: 30px;
    width: 100px;
    height: 100px;
  }
}
#landing-page .char-browser .char-description {
  position: absolute;
  top: 300px;
  left: 90px;
  width: 190px;
  height: 110px;
  color: #fff;
}
@media only screen and (max-width: 568px) {
  #landing-page .char-browser .char-description {
    width: 150px;
    height: 120px;
    top: 245px;
    left: 30px;
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 414px) {
  #landing-page .char-browser .char-description {
    top: 130px;
    left: 150px;
  }
}
#landing-page .char-browser .char-name {
  position: absolute;
  top: 110px;
  left: 320px;
  font-family: 'trench', sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  color: #fff;
}
@media only screen and (max-width: 568px) {
  #landing-page .char-browser .char-name {
    top: 124px;
    left: 210px;
    font-size: 2em;
  }
}
@media only screen and (max-width: 480px) {
  #landing-page .char-browser .char-name {
    top: 124px;
    left: 210px;
  }
}
@media only screen and (max-width: 414px) {
  #landing-page .char-browser .char-name {
    top: 240px;
    left: 30px;
  }
}
#landing-page .char-browser .skill-container {
  position: absolute;
  top: 160px;
  left: 320px;
  width: 300px;
  font-family: 'trench', sans-serif;
  font-size: 1.75em;
  color: #fff;
}
#landing-page .char-browser .skill-container .skill {
  margin-bottom: 20px;
  border-bottom: 2px solid #fff;
}
#landing-page .char-browser .skill-container .skill.attack {
  width: 40%;
}
#landing-page .char-browser .skill-container .skill.speed {
  width: 60%;
}
#landing-page .char-browser .skill-container .skill.health {
  width: 80%;
}
@media only screen and (max-width: 568px) {
  #landing-page .char-browser .skill-container {
    top: 160px;
    left: 210px;
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 480px) {
  #landing-page .char-browser .skill-container {
    top: 160px;
    left: 210px;
  }
}
@media only screen and (max-width: 414px) {
  #landing-page .char-browser .skill-container {
    top: 280px;
    left: 30px;
  }
}
#landing-page .char-browser .gene-container {
  position: absolute;
  top: 315px;
  left: 320px;
  width: 300px;
  font-family: 'trench', sans-serif;
  color: #fff;
}
#landing-page .char-browser .gene-container .gene-wrapper {
  display: inline-block;
  width: 70px;
  margin-right: 10px;
}
#landing-page .char-browser .gene-container .gene-wrapper .gene {
  width: 70px;
}
#landing-page .char-browser .gene-container .gene-wrapper .name {
  margin-top: -60px;
  text-align: center;
}
@media only screen and (max-width: 568px) {
  #landing-page .char-browser .gene-container {
    top: 310px;
    left: 210px;
  }
}
@media only screen and (max-width: 480px) {
  #landing-page .char-browser .gene-container {
    top: 310px;
    left: 210px;
  }
}
@media only screen and (max-width: 414px) {
  #landing-page .char-browser .gene-container {
    top: 440px;
    left: 30px;
  }
}
#landing-page .hiring-text-container {
  float: right;
  width: 50%;
  margin-top: 20px;
  font-family: 'trench', sans-serif;
  color: limeGreen;
}
@media only screen and (max-width: 736px) {
  #landing-page .hiring-text-container {
    width: 100%;
    margin-top: 150px;
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  #landing-page .hiring-text-container {
    margin-top: 110px;
  }
}
@media only screen and (max-width: 320px) {
  #landing-page .hiring-text-container {
    margin-top: 45px;
    font-size: 0.75em;
  }
}
#landing-page .hiring-text-container .title {
  font-size: 3em;
}
#landing-page .hiring-text-container .text {
  color: #fff;
  font-size: 1.5em;
}
#landing-page .hiring-text-container a {
  color: limeGreen;
  text-decoration: none;
}
#landing-page .email-container {
  width: 60%;
  max-width: 550px;
  margin: 0 auto 30px auto;
}
#landing-page .email-container .email-form {
  position: relative;
  display: inline-block;
  width: 100%;
}
#landing-page .email-container .email-form .mail-icon {
  position: absolute;
  top: 17px;
  left: 10px;
  font-size: 1.75em;
  color: medGrey;
  transition: color 0.5s linear, background-color 0.5s ease-in-out;
}
@media only screen and (max-width: 736px) {
  #landing-page .email-container {
    width: 100%;
  }
}
#landing-page .email-container .email {
  display: inline-block;
  width: 70%;
  padding-left: 50px;
  line-height: 60px;
  font-size: 1.5em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  vertical-align: middle;
}
#landing-page .email-container .email:focus + .mail-icon {
  color: darkGrey;
}
@media only screen and (max-width: 736px) {
  #landing-page .email-container .email {
    width: 100%;
    border-radius: 3px;
  }
}
#landing-page .email-container .register {
  width: 30%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
@media only screen and (max-width: 736px) {
  #landing-page .email-container .register {
    width: 100%;
    border-radius: 3px;
    margin-top: 10px;
  }
}
