extends ./layouts/homeLayout

append body
    .card
        .image-container
            img.image(src="./static/img/dnalab.png")
        .info-container
            .title DNA Island
            .hashtag-container.ellipsis
                .hashtag #dnalab
        .action-container
            .action-wrapper
                a(href="#").action.pink Like
                a(href="#").action.dark-grey Comment
            .like-container
                i.fa.fa-heart.heart.pink
                .number 1000000
    .card
        .image-container
            img.image(src="./static/img/dnalab.png")
        .info-container
            .title DNA Island
            .hashtag-container.ellipsis
                .hashtag #dnalab
        .action-container
            .action-wrapper
                a(href="#").action.pink Like
                a(href="#").action.dark-grey Comment
            .like-container
                i.fa.fa-heart.heart.pink
                .number 1000000
    .card
        .image-container
            img.image(src="./static/img/dnalab.png")
        .info-container
            .title DNA Island
            .hashtag-container.ellipsis
                .hashtag #dnalab
        .action-container
            .action-wrapper
                a(href="#").action.pink Like
                a(href="#").action.dark-grey Comment
            .like-container
                i.fa.fa-heart.heart.pink
                .number 1000000
    .card
        .image-container
            img.image(src="./static/img/dnalab.png")
        .info-container
            .title DNA Island
            .hashtag-container.ellipsis
                .hashtag #dnalab
        .action-container
            .action-wrapper
                a(href="#").action.pink Like
                a(href="#").action.dark-grey Comment
            .like-container
                i.fa.fa-heart.heart.pink
                .number 1000000
    .card
        .image-container
            img.image(src="./static/img/dnalab.png")
        .info-container
            .title DNA Island
            .hashtag-container.ellipsis
                .hashtag #dnalab
        .action-container
            .action-wrapper
                a(href="#").action.pink Like
                a(href="#").action.dark-grey Comment
            .like-container
                i.fa.fa-heart.heart.pink
                .number 1000000
    .card
        .image-container
            img.image(src="./static/img/dnalab.png")
        .info-container
            .title DNA Island
            .hashtag-container.ellipsis
                .hashtag #dnalab
        .action-container
            .action-wrapper
                a(href="#").action.pink Like
                a(href="#").action.dark-grey Comment
            .like-container
                i.fa.fa-heart.heart.pink
                .number 1000000
    .card
        .image-container
            img.image(src="./static/img/dnalab.png")
        .info-container
            .title DNA Island
            .hashtag-container.ellipsis
                .hashtag #dnalab
        .action-container
            .action-wrapper
                a(href="#").action.pink Like
                a(href="#").action.dark-grey Comment
            .like-container
                i.fa.fa-heart.heart.pink
                .number 1000000
    .card
        .image-container
            img.image(src="./static/img/dnalab.png")
        .info-container
            .title DNA Island
            .hashtag-container.ellipsis
                .hashtag #dnalab
        .action-container
            .action-wrapper
                a(href="#").action.pink Like
                a(href="#").action.dark-grey Comment
            .like-container
                i.fa.fa-heart.heart.pink
                .number 1000000
    .card
        .image-container
            img.image(src="./static/img/dnalab.png")
        .info-container
            .title DNA Island
            .hashtag-container.ellipsis
                .hashtag #dnalab
        .action-container
            .action-wrapper
                a(href="#").action.pink Like
                a(href="#").action.dark-grey Comment
            .like-container
                i.fa.fa-heart.heart.pink
                .number 1000000
    .card
        .image-container
            img.image(src="./static/img/dnalab.png")
        .info-container
            .title DNA Island
            .hashtag-container.ellipsis
                .hashtag #dnalab
        .action-container
            .action-wrapper
                a(href="#").action.pink Like
                a(href="#").action.dark-grey Comment
            .like-container
                i.fa.fa-heart.heart.pink
                .number 1000000
    .card
        .image-container
            img.image(src="./static/img/dnalab.png")
        .info-container
            .title DNA Island
            .hashtag-container.ellipsis
                .hashtag #dnalab
        .action-container
            .action-wrapper
                a(href="#").action.pink Like
                a(href="#").action.dark-grey Comment
            .like-container
                i.fa.fa-heart.heart.pink
                .number 1000000
    .card
        .image-container
            img.image(src="./static/img/dnalab.png")
        .info-container
            .title DNA Island
            .hashtag-container.ellipsis
                .hashtag #dnalab
        .action-container
            .action-wrapper
                a(href="#").action.pink Like
                a(href="#").action.dark-grey Comment
            .like-container
                i.fa.fa-heart.heart.pink
                .number 1000000
    .card
        .image-container
            img.image(src="./static/img/dnalab.png")
        .info-container
            .title DNA Island
            .hashtag-container.ellipsis
                .hashtag #dnalab
        .action-container
            .action-wrapper
                a(href="#").action.pink Like
                a(href="#").action.dark-grey Comment
            .like-container
                i.fa.fa-heart.heart.pink
                .number 1000000
    .card
        .image-container
            img.image(src="./static/img/dnalab.png")
        .info-container
            .title DNA Island
            .hashtag-container.ellipsis
                .hashtag #dnalab
        .action-container
            .action-wrapper
                a(href="#").action.pink Like
                a(href="#").action.dark-grey Comment
            .like-container
                i.fa.fa-heart.heart.pink
                .number 1000000
    .card
        .image-container
            img.image(src="./static/img/dnalab.png")
        .info-container
            .title DNA Island
            .hashtag-container.ellipsis
                .hashtag #dnalab
        .action-container
            .action-wrapper
                a(href="#").action.pink Like
                a(href="#").action.dark-grey Comment
            .like-container
                i.fa.fa-heart.heart.pink
                .number 1000000
    .card
        .image-container
            img.image(src="./static/img/dnalab.png")
        .info-container
            .title DNA Island
            .hashtag-container.ellipsis
                .hashtag #dnalab
        .action-container
            .action-wrapper
                a(href="#").action.pink Like
                a(href="#").action.dark-grey Comment
            .like-container
                i.fa.fa-heart.heart.pink
                .number 1000000
