extends ./layouts/homeLayout

append body
    .card-container
        .center-wrapper
            .card
                .image-container
                    //img.image(src="./static/img/dnalab.png")
                    img.image(src="#")
                .info-container
                    .title
                    .hashtag-container.ellipsis
                        .hashtag
                .action-container
                    .action-wrapper
                        a(href="#").action.pink Like
                        a(href="#").action.dark-grey Comment
                    .like-container
                        i.fa.fa-heart.heart.pink
                        .number
    button.action-button(ng-click="")
        i.fa.fa-plus.upload
