html, body
    height: 5796px
    box-sizing: border-box
    font-family: 'trench', sans-serif
    +at(5)
        height: 5796px //width: 2560px
    +at(4)
        height: 5796px //width: 1024px
    +at(3)
        height: 5256px //width: 750px 
    +at(2)
        height: 4021px //width: 480px
    +at(1)
        height: 3625px //width: 320px
*, *:before, *:after 
    box-sizing: inherit

a
    text-decoration: none
.btn
    padding: 10px 10px  
    display: inline-block
    font-size: 1.5em
    vertical-align: middle
.btn-action
    padding: 18px
    width: 20%
    background-color: lightRed 
    color: white
    text-align: center
    border-radius: 3px
    transition: color .5s linear, background-color .5s ease-in-out
    &:hover
        background-color: darkRed
        transition: color .5s linear, background-color .5s ease-in-out
.success
    background-color: lightBlue !important
    transition: color .5s linear, background-color .5s ease-in-out
//Menu
.dna-logo
    display: inline-block
    width: 175px
    +at(5)
        width: 175px
    +at(4)
        width: 175px
    +at(3)
        width: 150px
    +at(2)
        width: 125px
    +at(1)
        width: 100px
.mobile-menu-icon
    display: none !important
    font-size: 0em !important
    position: absolute
    top: 30px
    right: 20px
    color: white
    +at(3)
        display: block !important
        font-size: 1.5em !important
    +at(2)
        display: block !important
        font-size: 1.5em !important
    +at(1)
        display: block !important
        font-size: 1.5em !important
#corporate-main-nav
    padding: 20px 0
    +at(2)
        padding: 10px 0
    +at(1)
        padding: 10px 0
    .nav-logo
        display: inline-block
        height: auto
        width: 180px
.navbar-fixed-top
    position: absolute //previously fixed with the menu bar
    right: 5%
    left: 5%
    z-index: 99
#navbar-collapse
    display: inline-block
    height: 138px
    margin-top: 25px //to align it with the bar in logo
    vertical-align: middle
    +at(3)
        display: none
    +at(2)
        display: none
    +at(1)
        display: none
.nav
    padding-left: 0
    margin: 0
    list-style: none
    font-family: 'trench', sans-serif
    font-weight: bold
    &.navbar-nav
        li
            float: left
        a 
            padding: 10px 20px
            font-size: 1.7em
            color: white
            cursor: pointer
            text-decoration: none
input
    line-height: 40px
    padding: 0 0 0 15px
    background-color: lightGrey
    -webkit-appearance: none
    box-shadow: none !important
    outline: 0
    border: none
    border-radius: 3px
    color: darkGrey
    &:focus
        outline: 0
::-webkit-input-placeholder
   color: medGrey
:-moz-placeholder
   color: medGrey
::-moz-placeholder
   color: medGrey
:-ms-input-placeholder  
   color: medGrey
//Useful css classes to apply
.f-left
    float: left
.f-right
    float: right
.center
    margin: 0 auto !important
