rupture.scale = 0 320px 480px 750px 1024px 2560px
rupture.scale-names = 'm' 'mplus' 't' 'tplus' 'd' 'dplus'

limeGreen = #88bb61
darkGrey = #1f2c2e
lightGrey = #eaeef0
medGrey = #757d7e
lightRed = #e74c3c
darkRed = #c0392b
lightBlue = #3498db
